{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Boards{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Django Boards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="#">My account</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container" style="background-color:#e9ecef;padding-top:5px;padding-bottom:5px;color:grey;paadding-left:20px">
        <a href="{% url 'home' %}">Boards</a>/{{ board.name }} 
    </div>
    <div  class="container"style="padding-top:20px; padding-right:10px"><a  style="background-color:grey; color:white" href="{% url 'new_topics' board.pk %}"><b>+ New Topic</b></a></div>
    <div style="padding-left:20%; padding-top:20px;">
    <table style="background-color: rgba(0, 0, 0, 0);border-collapse: collapse;box-sizing: border-box;color: rgb(33, 37, 41);font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;font-size: 16px;font-weight: 400;line-height: normal;margin-bottom: 16px;max-width: 100%;text-align: start;width: 690px;" >
       <thead class="thead-inverse">
          <tr style="background-color:black; color:white;padding-top:15px">
            <th style="border:2px solid grey; padding-left:10px;">Topic</th>
            <th style="border:2px solid grey; padding-left:10px;">Starter</th>
            <th style="border:2px solid grey; padding-left:10px;">Replies</th>
            <th style="border:2px solid grey; padding-left:10px;">Views</th>
            <th style="border:2px solid grey; padding-left:10px;">Last Update</th>
          </tr>
       </thead>
       <tbody>
         {% for topic in board.topic.all %}
            <tr tyle=" padding-top:15px">
              <td style="border:2px solid grey; padding-left:10px;">{{ topic.subject }}</td>
              <td style="border:2px solid grey; padding-left:10px;">{{ topic.starter.username }}</td>
              <td style="border:2px solid grey; padding-left:10px;">0</td>
              <td style="border:2px solid grey; padding-left:10px;">0</td>
              <td style="border:2px solid grey; padding-left:10px;">{{ topic.last_updated }}</td>
            </tr>
         {% endfor %}
       </tbody>
    </table>
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>s
  </body>
</html>
